@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.commonForm{
  width: 35%;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding:20px;
  background-color: gray;
  color: black;
  box-shadow: 2px 2px 4px 1px #c6bcbc;
  border-radius: 1px;
}
.Registerbtn{
  background: transparent;
  outline: none;
  border: none;
  background-color: rgb(8, 152, 49);
  margin-right: 5px;
}
.Loginbtn{
  background: transparent;
  outline: none;
  border: none;
  background-color: rgb(188, 11, 32);
  margin-right: 5px;
  
}



.Navbarclass{
  margin-top: 4px;
  background: transparent;
  outline: none;
  border: none;
  background-color: rgb(8, 41, 97);
  box-shadow: 1px 1px 4px 1px whitesmoke;
  text-shadow: 4px 4px 4px black;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  position: fixed;
  width: 100%;
}
.Navbarclass Dropdownclass{
  text-decoration: none;
}
